# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Seguridad
.env

# Carpetas de compilación
target/
out/
build/

# Configuración de IntelliJ
.idea/
*.iml